@import url('fonts/inter-ui.css');
@import url('fonts/nulshock/nulshock.css');
/* The popup form - hidden by default */
.nice-popup {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #474A59;
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.22);
  z-index: 9;
}

h1 {
  font-family: 'nulshockbold';
  text-align: center;
  color: #ffffff;
}

/* Add styles to the form container */
.nice-epic {
  max-width: 300px;
  font-family: 'inter-ui', sans-serif;
  padding: 10px;
  background-color: #474A59;
}

/* Full-width input fields */
.nice-epic input[type=text], .nice-epic input[type=password] {
  background: transparent;
  border: 0;
  left: 100px;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}

/* Set a style for the submit/login button */
#btn {
  color: #9c9b9b;
  margin-top: 40px;
  transition: color 300ms;
  cursor: pointer;
}
#btn:focus {
  color: #f2f2f2;
}
#btn:active {
  color: #d0d0d2;
}

/* Add a red background color to the cancel button */
.nice-epic .cancel {
  background-color: #ef5350;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.9;
  border-radius: 30px;
  position: relative; 
  top: 50%;
}


/* Add some hover effects to buttons */
.nice-epic .btn:hover, .open-button:hover {
  opacity: 1;
}